body {
  font-family: Bookman Old Style, Bookman Old Style !important;
  font-weight: 100px !important;
  font-size: 20px !important;
}
div.css-1xarl3l {
    font-size: 1.4rem;
    padding-bottom: 0.25rem;

}
label.css-5qhqlf {
    font-size: 17px;
    font-weight: bold;
    font-family: "Bookman Old Style", Bookman Old Style;
 }
div.stDateInput{
    height:80px !important;
}
div.css-ffhzg2{
  background-color: rgb(14, 17, 23);
}
div.css-ps6290{
  font-size: 20px;
}
div.css-18e3th9{
   padding: 1em 2em !important
}
header.css-vl8c1e{
    height: 0px !important;
}
div.css-1adrfps{
    width:16rem !important;
    padding: 4rem 1rem !important;
}
div.css-11fbze8{
    gap:rem !important
}
div.css-1oe6wy4{
    width:16rem !important;
    padding: 4rem 1rem !important;
}

div.css-1djdyxw{
  font-size: 20px;
}
span.css-10trblm.e16nr0p30{
    padding: 0rem 0px !important
    font-weight: 0;
}
.caution {
  font-size: 20px;
  font-family: "Bookman Old Style";
  color: #fff;
}
.font {
  font-size: 30px;
  font-family: "Cooper Black";
  color: #ff9633;
}

div.element-container.css-1rlgw36.e1tzin5v3 {
  margin-top: 50px;
}

div.element-container.css-9bu3hv.e1tzin5v3 {
  margin-bottom: 50px;
}

div.css-8u98yl.exg6vvm0 {
  margin-top: 20px;
}

.container {
  display: flex;
}
.container .card {
  flex: 1;
  text-align: center;
}
.container .card .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  max-width: 170px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  position: relative;
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.container .card .title span {
  display: block;
  font-size: 28px;
  font-weight: normal;
}
.container .card .title:before,
.container .card .title:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border: 12px solid transparent;
  border-top-color: #000000;
  top: 5px;
}
.container .card .title:before {
  transform: rotate(-45deg);
  left: -12px;
}
.container .card .title:after {
  transform: rotate(45deg);
  right: -12px;
}
.container .card:nth-child(1) .title {
  background-color: #ef2f78;
}
.container .card:nth-child(1) .title:before,
.container .card:nth-child(1) .title:after {
  border-top-color: #c60f54;
}

.container .card:nth-child(2) .title {
  background-color: rgb(103, 0, 31);
}
.container .card:nth-child(2) .title:before,
.container .card:nth-child(2) .title:after {
  border-top-color: rgb(103, 0, 31);
}

.container .card:nth-child(3) .title {
  background-color: #ef9523;
}
.container .card:nth-child(3) .title:before,
.container .card:nth-child(3) .title:after {
  border-top-color: #b16b12;
}

.container .card:nth-child(4) .title {
  background-color: #1c7bbb;
}
.container .card:nth-child(4) .title:before,
.container .card:nth-child(4) .title:after {
  border-top-color: #105888;
}

.container .card:nth-child(5) .title {
  background-color: #616161;
}
.container .card:nth-child(5) .title:before,
.container .card:nth-child(5) .title:after {
  border-top-color: #232323;
}

.container .card:nth-child(6) .title {
  background-color: #03a1a4;
}
.container .card:nth-child(6) .title:before,
.container .card:nth-child(6) .title:after {
  border-top-color: #056264;
}

@media (max-width: 767px) {
  .container {
    flex-wrap: wrap;
  }
  .container .card {
    flex: 0 0 100%;
  }
}
@media (max-width: 895px) {
  .container {
    font-weight: 10px;
    font-size: 10px;
  }
}

@media (max-width: 1000px) {
  .container .card .title span {
    display: block;
    font-size: 20px;
    font-weight: normal;
  }
}

@media (max-width: 1029px) {
  .container .card .title span {
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px;
    width: 80%;
    max-width: 170px;
    margin: auto;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #ffffff;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 780px) {
  .container .card .title {
    display: block;
    font-size: 10px;
    font-weight: normal;
  }
}

.txnew {
  display: flex;
}
.txnew .card {
  flex: 1;
  margin: 10px;
  text-align: center;

  border-radius: 20px;
}
.txnew .card .title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 60px;
  color: #ffffff;
}
.txnew .card .circle {
  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
  background-color: #000000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -60px auto 0px auto;
  z-index: 2;
  position: relative;
  box-shadow: inset 0px -10px 8px -8px rgba(0, 0, 0, 0.5);
}
.txnew .card .content {
  padding: 15px;
  padding-top: 45px;
  margin-top: -45px;
  background-color: #ffffff;
  box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.15);
}

.txnew .card:nth-child(1) .title,
.txnew .card:nth-child(1) .circle {
  background-color: #ef2f78;
}

.txnew .card:nth-child(2) .title,
.txnew .card:nth-child(2) .circle {
  background-color: #03a1a4;
}

.txnew .card:nth-child(3) .title,
.txnew .card:nth-child(3) .circle {
  background-color: #ef9523;
}

.txnew .card:nth-child(4) .title,
.txnew .card:nth-child(4) .circle {
  background-color: #1c7bbb;
}

.txnew .card:nth-child(5) .title,
.txnew .card:nth-child(5) .circle {
  background-color: #616161;
}

.txnew .card:nth-child(6) .title,
.txnew .card:nth-child(6) .circle {
  background-color: rgb(103, 0, 31);
}

@media (max-width: 767px) {
  .txnew {
    flex-wrap: wrap;
  }
  .txnew .card {
    flex: 0 0 100%;
  }
}


div.css-zx8yrj{
    font-family: Bookman Old Style, Bookman Old Style !important;
    color: rgb(12, 12, 12);

}
td.css-nhd13s{
    font-weight:600;
    background-color: #f2f2f2;
}
th.css-asy5qd{
    font-weight:800;
    color: rgb(12, 12, 12);

}
